@mixin flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 2px 1px 2px rgb(124, 123, 123);
  position: relative;
}

.location {
  @include flexCentre;
  background-color: $bgc-couleur-primaire;
  height: 60px;
  gap: 1rem;
  color: rgb(54, 52, 52);
  font-weight: 700;
  &__icon {
    font-size: 1.2rem;
    &__city {
      font-size: 16px;
    }
  }
}

.reservation {
  padding: 10px;
  text-align: center;
  background-color: $bgc-couleur-secondaire;
  &__title {
    margin: 10px;
  }
  &__paragraph {
    margin: 10px;
    font-weight: 300;
  }
  &__button {
    margin: 10px;
    margin-bottom: 15px;
    padding: 13px;
    background-image: linear-gradient(
      $couleur-secondaire 10%,
      $couleur-primaire
    );
    box-shadow: 1px 3px 9px 5px;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 5px 1px rgba(#000000, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    transition: all 200ms;

    &:hover {
      transform: scale(1.02);
    }
  }
}
