@mixin flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  counter-reset: x;
}

header {
  box-shadow: 2px 1px 2px rgb(163, 162, 162);
  position: relative;
}

.location {
  @include flexCentre;
  background-color: $bgc-couleur-primaire;
  height: 50px;
  gap: 1.5rem;
  color: rgb(54, 52, 52);
  font-weight: 700;
  &__icon {
    font-size: 1.2rem;
    &__city {
      font-size: 16px;
    }
  }
}

.reservation {
  padding: 15px;
  text-align: center;
  background-color: $bgc-couleur-secondaire;
  &__title {
    margin: 10px;
  }
  &__paragraph {
    color: #5c5757;
    font-size: 15px;
    margin: 10px;
    font-weight: 300;
  }
  &__button {
    margin: 10px;
    margin-bottom: 15px;
    padding: 13px;
    background-image: linear-gradient(
      $couleur-secondaire 10%,
      $couleur-primaire
    );
    box-shadow: 1px 3px 9px 5px;
    border-radius: 20px 20px;

    border: none;
    color: white;
    font-size: 18px;
    transition: all 200ms;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.fonction {
  font-weight: 700;
  font-size: 18px;

  &__title {
    margin-left: 20px;
    margin-top: 40px;
  }
  &__ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list {
    background-color: $bgc-couleur-secondaire;
    width: 85%;
    border-radius: 1.25rem;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(199, 195, 195, 0.5);
    align-items: center;
    margin: 32px;
    position: relative;

    &::before {
      counter-increment: x;
      content: counter(x);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 10px;
      padding: 3px;
      background-color: $couleur-primaire;
      border-radius: 100px;
      height: 15px;
      width: 15px;
      position: absolute;
      left: -1em;
      bottom: 1.6em;
    }
  }

  &__icon {
    color: rgb(94, 89, 89);
    padding: 20px;
  }
  &__iconviolet {
    color: $couleur-primaire;
  }
}
