@import "resets";
@import "variables";
@import "menu-1";
@import "menu-2";
@import "mixin";

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  @include flexCentre;
  height: 80px;
  width: 100%;
}

nav {
  height: 300px;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  font-family: "Shrikhand", cursive;
}

footer {
  padding-left: 20px;
  padding-top: 20px;
  height: 180px;
  width: 100%;
  background-color: rgb(65, 62, 62);
  color: #fff;
}

.sec-footer {
  margin-top: 10px;
  &__contact {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
