@use "../2.utilities/mixins" as mix;
@use "../2.utilities/variables" as var;

.container {
  padding: 10px 0 50px 0;
  background-color: var.$bgc-couleur-primaire;
  font-size: 18px;
}

.restaurants__title {
  font-size: 22px;
  margin: 40px 0 30px 30px;
}

.cards {
  @include mix.flexCentre;
  flex-direction: column;
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.card {
  background-color: #fff;
  border-radius: 20px;
  @include mix.shadow;
  height: 260px;
  width: 90%;
  color: inherit;
  margin-bottom: 30px;
  position: relative;
  @media (min-width: 900px) {
    height: 300px;
    width: 45%;
    margin: 15px;
  }

  &__image1 {
    height: 70%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__new {
    background-color: var.$couleur-tertiare;
    border-radius: 3px;
    color: rgb(51, 92, 51);
    padding: 4px 8px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  &__title {
    position: relative;
    padding: 1rem;
    display: flex;

    align-items: center;
    @media (min-width: 900px) {
      padding: 1rem;
      margin: 0;
    }
  }
  &__content {
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;

    &::before {
      @include mix.heart;
    }

    &::after {
      @include mix.heart;
      @include mix.gradient;
      opacity: 0;
      color: transparent;
      font-weight: 900;
    }

    &:hover::after {
      opacity: 1;
      color: rgb(209, 57, 201);
    }
  }
}
