.title {
  font-family: "Shrikhand", cursive;
}

footer {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 150px;
  background-color: rgb(68, 63, 63);
  color: #fff;
}

.sec-footer {
  margin-top: 10px;
  padding-bottom: 20px;
  &__contact {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
