@use "../2.utilities/mixins" as menumix;
@use "../2.utilities/variables" as var;

.main-content {
  position: relative;
  margin-top: -25px;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  background-color: rgb(241, 236, 236);
  padding-left: 20px;
  padding-bottom: 30px;
}

.commander {
  @include menumix.flexCentre;
  &__button {
    @include menumix.button;
  }
}
