*,
:before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  counter-reset: x;
}

.page-content {
  min-height: 100%;
}

.page-content::after {
  content: "";
  display: block;
}

footer,
.page-content::after {
  height: -30px;
}
