*,
:before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 2rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  counter-reset: x;
}

.main-content {
  background-color: rgb(241, 236, 236);
}

.page-content {
  min-height: 100%;
}

.page-content::after {
  content: "";
  display: block;
}

footer,
.page-content::after {
  height: -30px;
}
