@use "./index" as *;

body {
  counter-reset: x;
}

header {
  box-shadow: 2px 1px 2px rgb(158, 157, 157);
  position: relative;
}

main {
  padding: 0px;
}

.location {
  @include flexCentre;
  background-color: $bgc-couleur-primaire;
  height: 50px;
  gap: 1.5rem;
  color: rgb(54, 52, 52);
  font-weight: 700;
  &__icon {
    font-size: 1.2rem;
    &__city {
      font-size: 16px;
    }
  }
}

.reservation {
  padding: 15px;
  text-align: center;
  background-color: $bgc-couleur-secondaire;
  &__title {
    margin: 10px;
  }
  &__paragraph {
    color: #5c5757;
    font-size: 15px;
    margin: 10px;
    font-weight: 300;
  }
  &__button {
    cursor: pointer;
    margin: 10px;
    margin-bottom: 15px;
    padding: 13px;
    background-image: linear-gradient(
      $couleur-secondaire 10%,
      $couleur-primaire
    );
    box-shadow: 1px 1px 2px 1px rgb(163, 162, 162);
    border-radius: 20px 20px;

    border: none;
    color: white;
    font-size: 18px;
    transition: all 200ms;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.fonction {
  font-weight: 700;
  font-size: 18px;

  &__title {
    margin-left: 20px;
    margin-top: 40px;
  }
  &__ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list {
    background-color: $bgc-couleur-secondaire;
    width: 85%;
    border-radius: 1.25rem;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(199, 195, 195, 0.5);
    align-items: center;
    margin: 32px;
    position: relative;

    &::before {
      counter-increment: x;
      content: counter(x);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 10px;
      padding: 3px;
      background-color: $couleur-primaire;
      border-radius: 100px;
      height: 15px;
      width: 15px;
      position: absolute;
      left: -1em;
      bottom: 1.6em;
    }
  }

  &__icon {
    color: rgb(94, 89, 89);
    padding: 20px;
  }
  &__iconviolet {
    color: $couleur-primaire;
  }
}

.container {
  padding: 15px;
  background-color: $bgc-couleur-primaire;
  font-size: 18px;
}

.restaurants__title {
  margin-top: 30px;
  margin-left: 6px;
}

.cards {
  @include flexCentre;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px rgba(199, 194, 194, 0.5);
  height: 260px;
  width: 90%;
  color: inherit;
  margin-bottom: 30px;
  position: relative;

  &__image1 {
    height: 70%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__new {
    background-color: $couleur-tertiare;
    border-radius: 3px;
    color: rgb(51, 92, 51);
    padding: 4px 8px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  &__title {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -4px;
  }
  &__content {
    flex: 1;
  }
  &__plat {
    margin: 2px;
  }
  &__plat- {
    margin-bottom: 10px;
  }
  &__icon {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fas {
  color: transparent;
  background-image: #fff;
  &:hover {
    transition: all 0.8s ease-in-out;
    color: #cc56dc;
  }
}

@media only screen and (min-width: 428px) {
  .fonction__responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 900px) {
  .fonction {
    margin-bottom: 30px;
  }
  .fonction__responsive {
    display: inline;
    text-align: center;
  }
  .fonction__title {
    justify-content: center;
  }
  .fonction__list {
    display: inline;
    width: 30%;
    padding: 25px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
    margin: 20px;
  }
}
